{% extends "base.html" %}
{% block content %}

<h1>Books</h1>

<ul>
    {% for book in books %}
    <li>
        <a href="{% url 'book_detail' book.id %}">
            <strong> {{book.title}} </strong>
            <p>{{book.autor}}</p>
            <p>{{book.goal}}</p>
            {% if book.date_completed %}
                <p>{{ book.date_completed }}</p>
            {% endif %}
            <p>{{book.pages_read}} de {{book.pages_total}}</p>
            <p>{{book.progress}}%</p>
            {% for dia, paginas in book.pages_for_day %}
                <tr>
                    <td>{{ dia }}</td>
                    <td>{{ paginas }}<br></td>
                </tr>
            {% endfor %}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}