{% extends "base.html" %}
{% block content %}

<div class="d-flex p-2 justify-content-center flex-wrap">
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nam non minima cumque accusantium harum repellat quas, hic, quis, tenetur molestiae ipsa deleniti amet maiores? Iste a deserunt architecto quos voluptas officiis porro accusantium quae ut! Fuga, veniam quod. Magnam distinctio harum quidem inventore facilis neque dolorum quam voluptatibus ipsum. Blanditiis autem perferendis, neque ullam dolores facere eos animi natus? Illo cum iusto necessitatibus deleniti, voluptates error odio nulla asperiores quasi eligendi dicta quas explicabo quam amet natus fugiat. Accusantium ipsam aliquam illum velit voluptates quidem dolorum neque perspiciatis, nihil magnam minima ex sequi, quia facere eius delectus sapiente modi!</p>
</div>
{% endblock %}